background,html {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
#game {
    width: 80vw;
    height: 60vh;
    background: #FFD100;
    border-radius: 10px;
    position: relative;
    margin: 10vh auto;
    border: 1.5vw solid #2774AE;
}

#player {
    position: absolute;
    width: 10%;
    height: 20%;
}

#playerPic {
    max-width: 100%;
    max-height: 100%;
}

.cat {
    position: absolute;
    width: 10%;
    height: 20%;
}

.catPic {
    max-width: 100%;
    max-height: 100%;
}